<a href="https://colab.research.google.com/github/paulacobzaru/Python-for-DS/blob/main/5_12_Analyse_London_olympics_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Summer Olympics, London 2012 dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [ ]:
#Import the necessary library
import numpy as np

In [ ]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
olympic_countries = np.array(['Great Britain', 'China', 'Russia', 'United States', 'Korea', 'Japan','Germany'])
gold_country = np.array([29, 38, 24, 46, 13, 7, 11])
silver_country = np.array([17,28,25,28,8,14,11])
bronze_country = np.array([19,22,32,29,7,27,14])

In [ ]:
gold_country

array([29, 38, 24, 46, 13,  7, 11])

#### Find the country with maximum gold medals

In [ ]:
#Use the argmax() method to find the highest number of gold medals
print(gold_country.argmax())

3

In [ ]:
#Print the name of the countr
country_with_most_medals = Country[3]
country_with_most_medals

'United States'

#### Find the countries with more than 20 gold medals

In [ ]:
#Use Boolean indexing technique to find the required output
print(olympic_countries[gold_country>20])

['Great Britain' 'China' 'Russia' 'United States']

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [ ]:
#Use a for loop to create the required output
for i in range(len(olympic_countries)):
  country = olympic_countries[i]
  gold_medal = gold_country[i]
  total_medals = gold_country[i]+silver_country[i]+bronze_country[i]
  print('{}. {} has {} golden medals and {} total medals. '.format((i+1),country, gold_medal, total_medals))

1. Great Britain has 29 golden medals and 65 total medals.
2. China has 38 golden medals and 88 total medals.
3. Russia has 24 golden medals and 81 total medals.
4. United States has 46 golden medals and 103 total medals.
5. Korea has 13 golden medals and 28 total medals.
6. Japan has 7 golden medals and 48 total medals.
7. Germany has 11 golden medals and 36 total medals.

In [ ]:
|